/* TheRec Matterhorn Help Page */

* {
  margin: 0;
  padding: 0;
  outline: none; 
}

html {
  background-color: #e9e9e9;
}

body {
  width: 90%;
  margin: 40px auto;
  max-width: 1280px;
  min-width: 975px;
  background: url("img/therec.png") no-repeat top left #ffffff;
  box-shadow: 0px 0px 40px #999999;
  -moz-box-shadow: 0px 0px 40px #999999;
  -webkit-box-shadow: 0px 0px 40px #999999;
  font-family: Arial, sans-serif;
}

.clear {
  clear: both;
}

.bold {
  font-weight: bold;
  padding: 2px 6px;
}

a {
  color: #861B1D;
}

a:visited {
  color: #861B1D;
}

li {
  line-height: 26px;
  margin-top: 10px;
}

#english {
  display: none;
}

.header {
  height: 260px;
  border-bottom: 1px solid #dfdfdf;
  background-color: #f9f9f9;
}

h1 {
  text-align: center;
  position: absolute;
  width: 400px;
  left: 50%;
  margin-left: -200px;
  top: 150px;
}

.check-container {
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  font-size: 11px;
  width: 130px;
}

.check-container a {
  color: #ffffff;
}

.download-container {
  margin: 0px auto 40px;
  width: 130px;
}

.download-container a {
  color: #ffffff;
}

.download-info {
  background-color: rgba(216, 53, 38, 0.1);
  padding: 20px; 
  margin-bottom: 20px;
}

.news-date {
  font-weight: bold;
  padding-right: 10px;
}

.help-container {
  float: right;
  margin-right: 30px;
  margin-top: 30px;
  font-size: 12px;
}

.help-container a {
  color: #ffffff;
}

.language-container  {
  width: 200px;
  margin: 0px auto;
  text-align: center;
  position: relative;
  top: -30px;
}

.language-container a {
  text-decoration: none;
  display: inline-block;
  color: #000000;
  padding: 0px 15px;
}

.language-container a:hover {
  text-decoration: underline;
}

.content {
  padding: 0px 0px 30px;
}

.screenshots {
  text-align: center;
}

.screenshots img {
  width: 50%;
  padding-bottom: 30px;
}

.description {
  width: 70%;
  margin: 0px auto;
  padding-bottom: 20px;
}

.description p {
  padding-bottom: 10px;
}



/* ########## HELP ########## */

.leftside, .rightside {
  width: 47%;
  
  padding: 10px;
}

.leftside {
  float: left;
}

.startimg {
  width: 100%;
  height: 483px;
  margin-top: 70px;
  background: url("img/start.png") no-repeat top left;
  background-size: 100%;
}

.optionimg {
  width: 100%;
  height: 249px;
  margin-top: 45px;
  background: url("img/options.png") no-repeat top left;
  background-size: 100%;
}

.rightside {  
  float: right;
}

.sector1 {
  padding-bottom: 20px;
  border-bottom: 1px solid #888888;
}

.sector2 {
  margin-top: 30px;
}

.rightside ul.sub-list {
  padding-left: 20px;
}

.rightside ul.subsub-list {
  padding-left: 30px;
}

.ul1 {
  list-style-image: url("img/ul1.png");
}

.ul2 {
  list-style-image: url("img/ul2.png");
}

.ul3 {
  list-style-image: url("img/ul3.png");
}

.ul_ok {
  list-style-image: url("img/ul_ok.png");
}

.bottom-area {
  padding: 20px;
}

.fehlerbehandlung {
  border-top: 1px solid #999999;
  border-bottom: 1px solid #999999;
  padding-top: 20px;
  padding-bottom: 30px;
}

.fehlerbehandlung a {
  color: #861B1D;
}

.fehlerbehandlung ul.sub-list {
  padding-left: 20px;
}      

.loesungen {
  padding-top: 20px;
}

.loesungen ul.sub-list {
  padding-left: 20px;
}

.button {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #db5248), color-stop(1, #f7655b) );
	background:-moz-linear-gradient( center top, #db5248 5%, #f7655b 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#db5248', endColorstr='#f7655b');
	background-repeat: no-repeat;
	background-position: 10px center;
	background-color:#db5248;
  -moz-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f7c5c0;
	box-shadow:inset 0px 1px 0px 0px #f7c5c0;	
	-moz-border-radius:3px;
	-webkit-border-radius:3px;
	border-radius:3px;
	border:1px solid #d83526;
	display: block;
	color:#ffffff;
	font-family:arial;
	font-size:15px;
	font-weight:bold;
	padding:10px 10px 10px 0px;
  text-align: right; 
	margin-bottom: 5px;
	text-decoration:none;
	text-shadow:1px 1px 0px #b23e35;
}

.button:hover {
  background: -webkit-gradient( linear, left top, left bottom, color-stop(0.05, #f7655b), color-stop(1, #db5248) );
	background:-moz-linear-gradient( center top, #f7655b 5%, #db5248 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7655b', endColorstr='#db5248');
	background-color:#f7655b;
	background-repeat: no-repeat;
	background-position: 10px center;	
}

.button:active {
	position:relative;
	top:1px;
}

.button a {
  
}

.check-button {
  background-image: url("img/check.png");
  width: 120px;  
}

.check-button:hover {
  background-image: url("img/check.png");
}

.download-button {
  background-image: url("img/download.png");
  width: 180px;  
}

.download-button:hover {
  background-image: url("img/download.png");
}

.help-button {
  background-image: url("img/help.png");        
  width: 80px;
}

.help-button:hover {
  background-image: url("img/help.png");
}